* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
}

/*PREDEFINED COLORS AND FONTS*/
:root {
    --main-color: #df3b3b;
    --nav-title-color: #fff;
    --titletext-color: #1F1F1F;
    --text-color: #333232;
    --button-color: #c42828;
    --separator-color: #787575;
    --footer1-color: #1F1F1F;
    --footer2-color: #3E3D3D;
    --big-font: 90px;
    --h1-font: 45px;
    --h2-font: 35px;
    --h3-font: 30px;
    --p-font: 16px;
}


/*----------------HEADER/NAVBAR------------------------*/


/*HEADER*/
header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    /*background: var(--bg-color);*/
}

/*NAVBAR*/
.navbar {
    display: flex;
}

/*NAVBAR A (PAGES)*/
.navbar a {
    color: var(--nav-title-color);
    font-weight: 600;
    font-size: 1.1rem;
    padding: 10px 20px;
}


/*----------------HOME------------------------*/


/*SPAN TEXT (CHAMPION)*/
span {
    color: var(--main-color);
}

/*SECTION (ID OF FIRST PART OF INDEX PAGE)*/
section {
    padding: 70px 15%;
}

/*HOME (CLASS OF FIRST PART OF INDEX PAGE)*/
.home {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    position: relative;
    background-color: #000000;
}

.home::before {
    background-image: url(../imgs/imgs-index/img-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    content: '';
    position: absolute;
    /*CODE FOR SET TOP, RIGHT, BOTTOM, AND LEFT AT 0*/
    inset: 0;
    opacity: 0.5;
}

/*HOME TEXT (CLASS OF FIRST PART OF INDEX PAGE)*/
.home-text h1 {
    font-size: var(--big-font);
    color: var(--nav-title-color);
    line-height: 80px;
    padding-top: 300px;
    /*CODE TO ISOLATE CERTAIN ELEMENTS BECAUSE OF BACKGROUND IMG*/
    isolation: isolate;
}

/*BTN1 (FIRST BUTTON OF INDEX PAGE)*/
.btn1 {
    display: inline-block;
    margin-top: 40px;
    padding: 10px 50px;
    background: var(--main-color);
    box-shadow: 0px 0px white;
    transition: 0.5s;
    color: #fff;
    font-weight: 600;
    /*CODE TO ISOLATE CERTAIN ELEMENTS BECAUSE OF BACKGROUND IMG*/
    isolation: isolate;
}

.btn1:hover {
    box-shadow: 8px 10px white;
}


/*----------------ABOUT US------------------------*/


.about {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 100px;
    align-items: center;
    margin-top: 100px;
}

.about-img img {
    max-width: 100%;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 5px rgba(201, 36, 36, 0.3);
    border-radius: 10px;
}

.about-text h1 {
    font-size: var(--h1-font);
    font-weight: 400;
}

.about-text h2 {
    color: var(--titletext-color);
    font-size: var(--h2-font);
    font-weight: 800;
    padding-left: 17px;
    position: relative;
    line-height: 40px;
    margin-bottom: 20px;
}

.about-text h2::after {
    content: '';
    width: 5px;
    height: 67px;
    display: block;
    background-color: #df3b3b;
    position: absolute;
    left: -1px;
    top: 7px;
}

.about-text p {
    font-size: var(--p-font);
    text-align: justify;
}

/*BTN2 (SECOND BUTTON OF INDEX PAGE)*/
.btn2 {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 50px;
    background: var(--main-color);
    box-shadow: 0px 0px white;
    transition: 0.5s;
    color: #fff;
    font-weight: 600;
}

.btn2:hover {
    box-shadow: 8px 10px black;
}


/*----------------OUR CLASSES------------------------*/


.heading {
    text-align: center;
}

.heading h1 {
    font-size: var(--h1-font);
    font-weight: 400;
}

.heading h3 {
    font-size: var(--h3-font);
    font-weight: 800;
}

.classes-img {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-img {
    box-sizing: content-box;
    margin: 10px;
    height: 350px;
    width: 450px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    flex-grow: 1;
}

.box-img::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.box-img img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.details h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 140px;
}

.details p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 90px;
}


/*BTN3 (THIRD BUTTON OF INDEX PAGE)*/
.btn3 {
    display: block;
    margin: 20px auto;
    width: 13%;
    padding: 10px 50px;
    background: var(--main-color);
    box-shadow: 0px 0px white;
    transition: 0.5s;
    color: #fff;
    font-weight: 600;
}

.btn3:hover {
    box-shadow: 8px 10px black;
}


/*----------------CTA------------------------*/


.cta {
    background: var(--main-color);
    width: 100%;
    margin: 100px auto;
}

.cta h2 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}

/*BTN4 (FOURTH BUTTON OF INDEX PAGE)*/
.btn4 {
    display: inline-block;
    margin-top: 20px;

    /*display: block;
    margin: 20px auto;
    width: 13%;*/

    padding: 10px 50px;
    background: #fff;
    box-shadow: 0px 0px white;
    transition: 0.5s;
    color: #1F1F1F;
    font-weight: 600;
}

.btn4:hover {
    box-shadow: 8px 10px #1F1F1F;
}


/*----------------OUR GALLERY------------------------*/


.heading {
    text-align: center;
}

.heading h1 {
    font-size: var(--h1-font);
    font-weight: 400;
    padding-bottom: 20px;
}

.heading h3 {
    font-size: var(--h3-font);
    font-weight: 800;
}

.heading p {
    padding-top: 30px;
    padding-bottom: 20px;
}

.gallery-img {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-img {
    box-sizing: content-box;
    margin: 10px;
    height: 350px;
    width: 450px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    flex-grow: 1;
}

.box-img::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.box-img img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.details {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.details h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 140px;
}

.details p {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 90px;
}


/*BTN5 (FIFTH BUTTON OF INDEX PAGE)*/
.btn5 {
    display: block;
    margin: 10px auto;
    width: 13%;
    padding: 10px 50px;
    background: var(--main-color);
    box-shadow: 0px 0px white;
    transition: 0.5s;
    color: #fff;
    font-weight: 600;
}

.btn5:hover {
    box-shadow: 8px 10px black;
}


/*----------------CTA 2------------------------*/


.cta2 {
    background: var(--separator-color);
    width: 70%;
    margin: 100px 0;
}

.cta2 h2 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}

.cta2 h3 {
    color: #fff;
    font-weight: 300;
}

.inputs {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.weight-input{
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

.height-input {
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

::placeholder {
    color: white;
    font-size: 15px;
}

label {
    color: white;
}


/*BTN6 (SIXTH BUTTON OF INDEX PAGE)*/
.btn6 {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 50px;
    background: #fff;
    box-shadow: 0px 0px white;
    transition: 0.5s;
    color: #3E3D3D;
    font-weight: 600;
}

.btn6:hover {
    box-shadow: 8px 10px #1F1F1F;
}


/*----------------OUR LOCATIONS------------------------*/

.locations {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 100px;
    align-items: center;
    margin-top: 100px;
}

.locations-text h1 {
    font-size: var(--h1-font);
    font-weight: 400;
}

.locations-text h2 {
    color: var(--titletext-color);
    font-size: var(--h2-font);
    font-weight: 800;
    padding-left: 17px;
    position: relative;
    line-height: 70px;
    /*margin-bottom: 20px;*/
}

.locations-text h2::after {
    content: '';
    width: 5px;
    height: 67px;
    display: block;
    background-color: #df3b3b;
    position: absolute;
    left: -1px;
    top: 7px;
}


/*----------------FOOTER------------------------*/


.footer {
    background: var(--footer1-color);
}

.footer-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-main h3 {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.footer-list h4 {
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.footer-list li a {
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.footer-list li {
    font-size: 15px;
}

.footer-list .bold {
    color: white;
    font-weight: 700;
}

.footer-list .light {
    color: rgb(172, 172, 172);
}

.footer-list .social {
    display: flex;
    gap: 20px;
}

.footer-list .social a{
    color: white;
}






.footer2 {
    background: var(--footer2-color);
}

.footer2 a{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}






/*----------------SCROLL TOP------------------------*/


.gotop {
    position: fixed;
    background: var(--main-color);
    color: white;
    width: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 0 0.5rem;
    transition: .4s;
}

.gotop:hover {
    transform: scale(1.2);
    color: var(--nav-title-color);
    background: var(--text-color);
}